@font-face {
    font-family: "OldSansBlack";
    src: url('/fonts/OldSansBlack.ttf');
    font-weight: normal;
    font-style: normal;
}

.font {
    font-family: "OldSansBlack";
}

.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}



header{
    background-color: #BF212E;
}



header h1{ font-size: 7vh;
    color: white;
    padding-bottom: 3vh;

}

.iconhead {
    display: flex;
    justify-content: end;
    align-items:start ;
}

.iconcompte, .iconlang {
     margin-right: 3vh;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1vh;
}
.navbar{
    display: flex;
    justify-content: center;

}

.marglien{
    padding-right: 3vh;
}

header a {
    font-family: "OldSansBlack";
    color: white;
    text-decoration: none;
    padding-bottom: 1vh;
}

.searchbar{
    padding-bottom: 1vh;
    
}